.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main div > img {
  margin-bottom: -8px;
}

img {
  width: 100%;
}

footer {
  padding: 64px 0px;
  margin: 0 auto;
  text-align: center;
  background-color: #f1f1f1;
}

footer h1 {
  font-size: 2rem;
}

footer img {
  width: 300px;
  margin: 50px 0;
}

form {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}

form p:nth-child(2) {
  color: tomato;
  margin: 18px 0px;
}

form input {
  border: 1px solid #ccc;
  padding: 10px 0px;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  border: 0;
  outline: 0;
  background-color: #616161;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  color: #000;
  background-color: #ccc;
}
