@import './reset.scss';

/**********  **********/
// 공용 css          /
/**********  **********/

.btn {
  width: 100px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 7px 12px;
  color: black;
  cursor: pointer;

  &:hover {
    border: none;
  }
}

.error-message {
  color: #ff6347;
  font-size: 12px;
  margin: auto;
  margin-top: 12px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.ask-member {
  margin-left: auto;
  margin-top: 10px;
  font-size: 12px;
}
.underscore {
  color: #00aaff;
  margin-left: 5px;
  text-decoration: underline;
  text-decoration-style: dotted;
  opacity: 0.5;
  transition: 0.6;

  &:hover {
    opacity: 1;
  }
}

/**********  **********/
// 헤더 css            /
/**********  **********/
.head {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -3px;
  }
}
.head-list {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .head-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }
}

.radius {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.name {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

.radius-size {
  width: 20px;
  height: 20px;
  background: #efe5d8;
}

.head-div {
  cursor: pointer;
  font-family: 'Explora';
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 23px;
  letter-spacing: 2px;

  span {
    transition: 0.2s;
    margin-right: 10px;
    &:hover {
      transform: scale(1.2);
    }
  }

  i {
    transition: 0.2s;
    font-size: 18px;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: -1;
  background: #eee;
}

.open {
  animation: open 0.3s linear;
  animation-fill-mode: forwards;
}

.close {
  animation: close 0.3s linear;
  animation-fill-mode: forwards;
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 25px;
  font-family: 'Noto Serif Ahom', serif;

  .menu-list-item {
    display: flex;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: 1300px) {
  .name-hide {
    display: none;
  }

  .radius {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 800px) {
  .head {
    .logo {
      font-size: 1.5rem;
    }
  }

  .head-div {
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;

    span {
      margin-right: 10px;
    }

    i {
      font-size: 15px;
    }
  }
}

@keyframes open {
  0% {
    height: 0px;
  }
  50% {
    height: 250px;
  }
  100% {
    height: 500px;
  }
}

@keyframes close {
  0% {
    height: 500px;
  }
  50% {
    height: 250px;
  }
  100% {
    height: 0px;
  }
}

/**********  **********/
// 메인컨텐츠 css       /
/**********  **********/
.row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-family: 'Swear Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.col {
  position: relative;
  width: 100%;
  height: 100%;

  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    .inner-item {
      display: block;
    }
  }
}

// 마우스 hover시 보여질 카드 화면
.inner-item {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0px;
  background: #f2fe8a;
  div {
    text-align: center;
    margin-top: 50px;

    h4 {
      font-size: 30px;
    }
    p {
      margin-top: 20px;
      padding: 10px;
    }
    .inner-item-text {
      padding-top: 50px;
    }
  }
}

.민지 {
  background-color: yellow;
}
.하니 {
  background-color: pink;
}
.해린 {
  background-color: grey;
}
.다니엘 {
  background-color: green;
}
.혜인 {
  background-color: 6c95cf;
}

.fade-col {
  opacity: 0;
  animation: fade-in 400ms ease-out forwards;
}

.main-footer {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
}

@media (max-width: 1600px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/**********  **********/
// 회원가입 css         /
/**********  **********/
.center-wrap {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}

.page-title {
  font-size: 6rem;
  color: #efe5d8;
}

.form-wrap {
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #eee;

    &:focus {
      outline: 1px solid rgb(6, 172, 255);
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.form-btn {
  margin-top: 15px;
  margin-left: auto;
  opacity: 0.7;
  transition: 0.2s;
  background: #efe5d8;

  &:hover {
    background: #6c95cf;
    opacity: 1;
    color: white;
  }
}

@media (max-width: 800px) {
  .page-title {
    font-size: 4rem;
    color: #efe5d8;
  }

  .form-wrap {
    max-width: 270px;
  }
}

/**********  **********/
// 검색창  css         /
/**********  **********/

.search-input {
  // width: 100%;
  padding: 2rem 1.5rem;
  font-size: 80px;
  outline: none;
  font-family: 'Anton', sans-serif;
  color: #efe5d8;
  caret-color: black;
  border: none;
  background-color: transparent;

  &::placeholder {
    color: #efe5d8;
  }
}

.not-search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
/**********  **********/
// 글쓰기페이지  css         /
/**********  **********/
.form-position {
  position: relative;
}
.title-add {
  position: absolute;
  cursor: pointer;
  padding: 0 10px;
  font-size: 15px;
  color: gray;
  transition: 0.2s;
  &:hover {
    transform: scaleY(1.5);
  }
}

.title {
  position: absolute;
  top: -20px;
  width: 0%;
  animation: widthSize 0.7s forwards;
}

.post-body {
  width: 100%;
  padding: 10px;
  margin-top: 22px;
  height: 200px;
  border: solid 2px #eee;
  border-radius: 5px;
  font-size: 16px;

  &:focus {
    outline: 1px solid rgb(6, 172, 255);
  }
}

.category-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-label {
  font-size: 12px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

.category-span {
  vertical-align: middle;
}

.category-input {
  vertical-align: middle;
  appearance: none;
  border: 2px solid #999;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  // transition: 0.2s all linear;

  &:focus-visible {
    outline-offset: 0.1em;
    outline: 0.1em dotted tomato;
  }

  &:hover {
    box-shadow: 0 0 0 0.2em lightgray;
    cursor: pointer;
  }
}

.border-color1 {
  &:checked {
    outline: none;
    border: 0.4em solid yellow;
  }
}

.border-color2 {
  &:checked {
    outline: none;
    border: 0.4em solid pink;
  }
}

.border-color3 {
  &:checked {
    outline: none;
    border: 0.4em solid gray;
  }
}

.border-color4 {
  &:checked {
    outline: none;
    border: 0.4em solid green;
  }
}

.border-color5 {
  &:checked {
    outline: none;
    border: 0.4em solid #6c95cf;
  }
}

.btn-wrap {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: end;
}

.picture-btn {
  width: 50px;
  background-color: #333333;
  color: #eee;
}

.close-btn {
  width: 80px;
  transition: 0.2s;
  &:hover {
    background: tomato;
    color: white;
  }
}

.file-wrap {
  width: 400px;
  padding: 10px;
  background: white;
}

.file-form {
  input {
    width: 100%;
  }
}

.file-btn-wrap {
}

@media (max-width: 800px) {
}

@keyframes widthSize {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
