<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Explora&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body>
    <nav class="head">
      <div class="head-div">
        <a href="/">
          <h1 class="logo">NewJeans</h1>
        </a>
      </div>
      <ul class="head-list">
        <li class="head-list-item">
          <span style="background-color: yellow" class="radius"></span
          ><span class="name name-hide">민지</span>
        </li>

        <li class="head-list-item">
          <span style="background-color: pink" class="radius"></span
          ><span class="name name-hide">하니</span>
        </li>

        <li class="head-list-item">
          <span style="background-color: grey" class="radius"></span
          ><span class="name name-hide">해린</span>
        </li>

        <li class="head-list-item">
          <span style="background-color: green" class="radius"></span
          ><span class="name name-hide">다니엘</span>
        </li>
        <li class="head-list-item">
          <span style="background-color: #6c95cf" class="radius"></span>
          <span class="name name-hide">혜인</span>
        </li>
      </ul>

      <div class="head-div login-and-about">
        <!-- 로그인 버튼으로 바뀔거임 -->

        <!-- <span class="head-menu-btn">ABOUT</span> -->
        <!-- <a href="/login"><span class="head-menu-btn">LOGIN</span></a> -->
        <a href="/search">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </a>
      </div>

      <!-- <div class="menu open">
        <ul class="menu-list">
          <li class="menu-list-item">
            <span class="radius radius-size"></span>
            <span class="name"> Jung-sik, welcome </span>
          </li>
          <li class="menu-list-item">
            <span class="radius radius-size"></span>
            <a class="name"> write card </a>
          </li>
          <li class="menu-list-item">
            <span class="radius radius-size"></span>
            <a href="" class="name">My Page</a>
          </li>
        </ul>
      </div> -->
    </nav>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
  <script src="../public/js/header.js"></script>
</html>
